body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fcfcfc;
}
a {
    color: #2dadd8;
}
a:hover{
    color: #4edec8;
}
form {
    margin: 14px;
    padding: 8px;
}
label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 5px 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 2px solid #2dadd8;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.login-bg {
    background-image: url(login-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn {
    display: block;
    width: 100%;
    height: 8%;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 2px solid #2dadd8;
    border-radius: 5px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color: #2dadd8;
    color:white;
}
.logout-btn {
    display: block;
    height: 8%;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 2px solid #F9423B;
    border-radius: 5px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #F9423B;
    color:white;
}
.form-container {
    background-color: #ffffff;
    border: 2px solid #bfbdbd;
    border-radius: 5px;
    box-shadow: -13px 14px 30px 8px rgba(0,0,0,0.75);
    max-width: 300px;
    margin: auto;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
}
.form-description {
    margin: 20px;
}
.error-msg {
    color: red;
}
.user-container {
    width: 80%;
    margin: auto;
}

#colorSwatch {
    width: 50px;
    height: 50px;
}

.color-btn {
    width: 100px;
    height: 50px;
    margin-top: 5px;
    transform: translate(12px, -9.75px);
}
