body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
form {
    margin: 14px;
    padding: 8px;
}
label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}
input {
    padding: 5px 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    }
    input:focus {
    border: 2px solid #2dadd8;
    }
.login-bg {
    background-image: url(login-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn {
    display: block;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 2px solid #2dadd8;
    border-radius: 5px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color: #2dadd8;
    color:white;
}
.form-container {
    background-color: #ffffff;
    border: 2px solid #bfbdbd;
    border-radius: 5px;
    box-shadow: -13px 14px 30px 8px rgba(0,0,0,0.75);
    max-width: 300px;
    margin: auto;
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
}